<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a class="u-email" href="mailto:eva.aw.15@ucl.ac.uk">eva.aw.15@ucl.ac.uk</a></li>
          <li><a class="u-url" href="https://esyaw.github.io">esyaw.github.io</a></li>
          <li><a href="https://twitter.com/2DMaterialGirl" class="twitter">@2DMaterialGirl</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <!-- Add your social media links here -->
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text-description">PhD | CDT Advanced Charaterisation of Materials | Department of Physics & Astronomy | University College London, UK.</p>
      </div>
    </div>
  </div>
</footer>

