<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<footer class="site-footer">
  <div class="wrapper">
    <h2>Eva Aw</h2>
    <p><a href="mailto:eva.aw.15@ucl.ac.uk">eva.aw.15@ucl.ac.uk</a></p>
    <p>
      <a href="https://twitter.com/2DMaterialGirl">
        <i class="fab fa-twitter"></i> @2DMaterialGirl
      </a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/eva-aw-286800106/">
        <i class="fab fa-linkedin-in"></i> LinkedIn
      </a>
    </p>
    <p>PhD | CDT Advanced Characterisation of Materials | Department of Physics & Astronomy | University College London, UK.</p>
  </div>
</footer>

.site-footer a {
  text-decoration: none;
  color: inherit; /* or specify a color */
}

.site-footer a i {
  margin-right: 8px;
}

